h1 {
    font-family : Impact, Charcoal, sans-serif; 
    font-size : 90px;
    color : rgb(34, 60, 175);
    text-align : center;
}

h2 {
    font-family : "Lucida Console", Monaco, monospace;	
    font-size : 30px;
    color : black;
    text-align : center;
}

#myDIV {
    position : absolute;
    z-index : -1;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background: azure;
    animation: changeColour;
    animation-duration : 5s;
    animation-iteration-count : infinite;
    animation-direction : alternate;
}
@keyframes changeColour {
    from {background-color: azure;}
    to {background-color: rgb(176, 247, 247);}
}

.boxed {
    position : fixed;
    top : 300px;
    left : 500px;
    width : 500px;
    background : white;
    border : 2px solid blue;
}