h1 {
    font-family: 'Montserrat', sans-serif;
    font-size : 6vw;
    color : rgb(34, 60, 175);
    text-align : center;
    line-height : 1vw;
}

h2 {
    font-family: 'Montserrat', sans-serif;	
    font-size : 2vw;
    color : black;
    text-align : center;
    line-height : 1vw;
}

#myDIV {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: azure;
    animation: changeColour;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeColour {
    from {background-color: azure;}
    to {background-color: rgb(176, 247, 247);}
}

.boxed {
    width : 35vw;
    background : white;
    border : 2px solid black;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.move {
    position: absolute;
    top : 13vw;
    left: var(--amount);
    transition: transform 0.2s;
}

.move:hover {
    transform : scale(1.5);
}
