.boxed {
    width: 50vw;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Monserrat', sans-serif;
    font-size: 6vw;
    text-align: center;
    margin: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(69, 123, 221);
    position: absolute;
}

p {
    margin: 5%;
    font-family: 'Monserrat', 'sans-serif';
    font-size: 1.2vw;
    color: black;
    text-align: center;
    line-height: 150%;

}
