.boxed {
    width: 40vw;
    background: white;
    border : 2px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Monserrat', sans-serif;
    font-size: 6vw;
    text-align: center;
    margin: auto;
    color: rgb(109, 160, 255);
}

p {
    margin: 5%;
    font-family: 'Monserrat', 'sans-serif';
    font-size: 1.2vw;
    color: black;

}
