html {

    --primary-color: rgb(27, 107, 255);
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #5290ee;
    --active-color: #65bbdd;
    --hover-color: #e3f7ff;

}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);
  color: var(--font-color);
}

html[data-theme='dark'] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #090549;
  --active-color: #0e0681;
  --hover-color: #1307be;
}

#myDIV {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: azure;
    animation: changeColour;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeColour {
    from {background-color: rgb(207, 240, 240);}
    to {background-color: azure;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--heading-color);
    font-family: 'Montserrat', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--hover-color);
}

.active {
    background-color: var(--active-color);
}

.container {
  margin: 1em;
  padding: 1em;
}
input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;
}

label {
cursor: pointer;
text-indent: -9999px;
width: 52px;
height: 27px;
background: grey;
float: right;
border-radius: 100px;
position: relative;
}

label:after {
content: '';
position: absolute;
top: 3px;
left: 3px;
width: 20px;
height: 20px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}

input:checked + label {
background: var(--primary-color);
}

input:checked + label:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}

label:active:after {
width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
transition: all 750ms !important;
transition-delay: 0 !important;
}

  