:root {

    --primary-color: rgb(27, 107, 255);
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #5290ee;
    --active-color: #65bbdd;
    --hover-color: #e3f7ff;
    --from-color: rgb(207, 240, 240);
    --to-color: azure;

}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);
  color: var(--font-color);
}

.dark-mode {
  --primary-color: rgb(125, 121, 238);
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #090549;
  --active-color: #0e0681;
  --hover-color: #1307be;
  --from-color: black;
  --to-color: rgb(3, 12, 59);
}

#myDIV {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: changeColour;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeColour {
    from {background-color: var(--from-color);}
    to {background-color: var(--to-color);}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--heading-color);
    font-family: 'Montserrat', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--hover-color);
}

.active {
    background-color: var(--active-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }
  
  /*slider switch css */
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    
    em {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  